$headermain-white: #D9FFF5;
$grey-bgslide:     #eaeaea;
$link-red:         #FF3E79;
$link-darkgray:    #7E7E82;
$text-black:       #1b1c21;
$text-gray:        #7e7e82;
$before-lightblue: #41f6d7;
$bullet-litegray:  #dddddd;
$bullet-gray:      #b5b6bc;
$header-gray:      #ffffff;
$background-gray:  #f8f8f8; 
